.box{
  min-height: 300px;
  width: 600px;
  margin: 0 auto;
  background-color: red;
  color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 10px 30px;
  height: 100%;
}

.head{}
.head h1{text-align: right;}

.frefew{
  display: flex;
  justify-content: space-between;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


